.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 570px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin: 10px auto;
}

.search__input {
  height: 100%;
  width: 530px;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 10px;
}

.search__btn {
  background-color: #fff;
  padding-right: 10px;
  font-size: 20px;
}