<!DOCTYPE html>
<html>
  <head>
    <title>HCMUT Smart Student Printing Service</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action='/?service=<%= service %>' method='post'>
      <label for='username'>Username</label>
      <input id='username' name='username' required>
      <label for='password'>Password</label>
      <input id='password' name='password' type='password' required>
      <input type='submit'>
    </form>
  </body>
</html>
