.wrapper {
  margin: 0 200px;
}

.search {
  width: 570px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin: 10px auto;
}

.search__input {
  height: 100%;
  width: 530px;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 10px;
}

.search__btn {
  background-color: #fff;
  padding-right: 10px;
  font-size: 20px;
}

.content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-printer {
  width: 160px;
  height: 40px;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  background-color: #0C8CE9;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.header-content,
.body-content {
  margin-top: 60px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
}

.content-select,
.content-id-printer,
.content-name-printer,
.content-location-printer,
.content-condition-printer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content-select::after,
.content-id-printer::after,
.content-name-printer::after,
.content-location-printer::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

.content-select {
  width: 80px;
}

.select-icon {
  padding-right: 5px;
}


.content-id-printer {
  width: 170px;
}

.content-name-printer {
  width: 250px;
}

.content-location-printer {
  width: 200px;
}

.content-condition-printer {
  width: 200px;
}

.content-text {
  
}

.body-content {
  margin-top: 0;
}