.wrapper {
  margin: 0 200px;
}

.odd-col {
  background: rgba(204, 204, 204, 0.3);
}



.search {
  width: 570px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin: 10px auto;

  &:focus-visible {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
  }
}

.search__input {
  height: 100%;
  width: 530px;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 10px;
}

.search__btn {
  background-color: #fff;
  padding-right: 10px;
  font-size: 20px;
}

.printer-action {
  width: 900px;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin: 10px auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  animation: increasedWidth .3s linear alternate;
}

@keyframes increasedWidth {
  0% {
    width: 570px; /* Kích thước ban đầu */
  }
  100% {
    width: 900px; /* Kích thước sau khi hoàn thành animation */
  }
}

.close-printer-action {
  padding: 0 10px;
}

.printer-action-list {
  height: 100%;
  position: absolute;
  display: flex;
  padding-right: 10px;
  top: 0;
  right: 0;
}

.delete-printer,
.edit-printer,
.active-printer {
  padding: 0 10px;
  width: 110px;
  height: 31px;
  margin: auto 10px;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #fff;

  &:hover {
    background-color: rgba(22, 24, 35, .1);
    cursor: pointer;
    opacity: 0.8;
  }
}

.content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-printer {
  width: 160px;
  height: 40px;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  background-color: #0C8CE9;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.add-printer,
.delete-printer,
.edit-printer,
.active-printer {

  &:hover {
    cursor: pointer;
  }
}

.header-content,
.body-content {
  margin-top: 60px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
}

.content-select,
.content-id-printer,
.content-name-printer,
.content-location-printer,
.content-condition-printer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content-select::after,
.content-id-printer::after,
.content-name-printer::after,
.content-location-printer::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

.content-select {
  width: 80px;
}

.content-id-printer {
  width: 170px;
}

.content-name-printer {
  width: 250px;
}

.content-location-printer {
  width: 200px;
}

.content-condition-printer {
  width: 200px;
}

.content-text {
  
}

.body-content {
  margin-top: 0;
}

.printer-view {
  margin-top: 5px;
  position: relative;
}

.printer-view-action {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  right: 0;
}

.printer-view-text {
  padding-right: 10px;
}